body{
    background-image: url(https://content.api.news/v3/images/bin/9da010285ed2df52012e9db32f3bf03b);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.weather-box{
    border: 3px solid blue;
    padding: 50px;
    border-radius: 20px;
    margin-bottom: 10px;
}